body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(Black-Abstract-Wallpapers.jpg);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-position: center;
}

.c1 {
    background-image: url(wp9011236.jpg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px black (0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 80px;
    font-size: 24px;
    text-align: right;
    background-color: dimgrey;
    color: black;
}

.b1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.b2{
    
    color: rgb(51, 233, 51);
}

.c2{
    color: red;
}
.e1{
    grid-column: 2 / 5;
    background-color: rgb(9, 124, 9);
}

button:hover {
    background-color: white ;
    color: black;
}
